
.container-content{
    width: 970px;
    float: left;
}
article{
    overflow: hidden;
    padding: 40px 20px 0;
    font-size: 14px;
    color: #666;
}
article img{
    /*margin-right: 32px;*/
    float: left;
    margin: 0 32px 10px 0;
}
article p{
    text-indent: 2em;
    line-height: 24px;
    margin-bottom: 30px;
}