.aside{
    float: left;
}
.aside aside{
    clear: both;
}
.aside aside:first-child{
    margin-bottom: 40px;
}
.aside aside:first-child{
    margin-bottom: 40px;
}
.aside .search input{
    width: 137px;
    height: 36px;
    display: block;
    margin: 9px 13px;
    padding: 0 25px 0 10px;
    color: #333333;
}
.aside .search {
    overflow: hidden;
    position: relative;
}
.aside .search span{
    color:#01a1ff;
    right: 16px;
    position: absolute;
    top: 23px;
}

.contact-service{
    text-align: center;
    color: #01a1ff;

}
.contact-service p:first-child{
    width: 143px;
    font:14px Tahoma;
    font-weight: bold;
    line-height: 24px;
    margin: 18px auto 0;
    border-bottom: 2px solid #01a1ff;
}

.contact-service p+p{
    margin: 6px 0 20px;
}
.map-contact{
    padding: 40px 20px 0;
    overflow: hidden;
}
#map{
    margin-bottom: 30px;
}

.map-contact form{
    float: left;
    width: 482px;
    font: 16px 宋体;
    color: #666666;
}
.map-contact form label{
    display: inline-block;
    width: 57px;
    text-align: right;
    line-height: 36px;
}
.map-contact form input{
    width: 259px;
    height: 25px;
    padding: 0 10px;
    font-size: 16px;
}
.map-contact form textarea{
    width: 423px;
    height: 94px;
    display: inline-block;
    margin: 5px 0 10px -8px;
    font-size: 16px;
    padding: 10px;
    resize: none;
}
.map-contact form input[type=submit]{
    margin: 0 20px 0 56px;
    width: 97px;
    height: 30px;
    background-color: #01a1ff;
}
.map-contact form input[type=reset]{
    width: 97px;
    height: 30px;
    border: 1px solid #cccccc;
    color: #999999;
}
.contact-info{
    float: left;
    width: 373px;
}

.map-contact form label .contact{
    vertical-align: top;
}
.contact-info{
    float:right;
    width: 373px;

}
.contact-info h2{
    font-size: 20px;
    color: #333333;
    font-weight: 600;

}
.contact-info p{
    margin-top: 18px;
    font-size: 14px;
    color: #666666;
}
